html {
  background: transparent;
}

html, body, div#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

div.main-container {
  height: 100%;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

div.login-container {
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.login-help-note {
  text-align: left;
  width: 480px;
  margin: 60px auto 0px auto;
}

form.login-form {
  text-align: center;
  margin-top: 150px;
}

div.container-timer {
  padding-top: 70px;
  margin: 0px auto 70px auto;
  text-align: center;
  color: #ea7500;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.timer-time {
  font-size: 64pt;
  font-weight: 700;
}

.timer-fraction {
  font-size: 36pt;
  font-weight: 900;
  margin-left: 2px;
}

.main-panel-row-1 {
  margin-bottom: 25px;
}

.main-panel-row-2 {
  margin-bottom: 90px;
}

.btn-primary {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #fff;
  font-size: 100%;
  min-width: 13em;
  background-color: inherit;
  color: #fff;
}

.btn-primary:disabled {
  color: #888;
  border-color: #888;
}

.btn-primary:hover:enabled {
  background-color: #fff;
  color: #000;
}

.btn-primary:active:enabled {
  background-color: #bbb;
  box-shadow: inset 1px 1px 4px black;
}

.btn-primary:focus:enabled {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.btn-main-panel {
  margin: 0px 5px 0px 5px;
}

.btn-danger-panel {
  margin: 0px 50px 0px 50px;
}

table.table-status {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 0px auto 40px auto;
  padding: 5px 0px 5px 0px;
  text-align: left;
  border-collapse: separate;
  border-spacing: 14px 5px;
}

table.table-status td {
  width: 30em;
  max-width: 30em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: text-top;
}

table.table-status th {
  padding-right: 8px;
  font-weight: 400;
  vertical-align: text-top;
}

input.login-password-input {
  font-size: 100%;
  background-color: #000;
  color: #fff;
  outline: 0;
  padding: 10px;
  border: 2px solid #fff;
  width: 20em;
  display: block;
  margin: 0px auto 10px auto;
}

input.login-password-input:disabled {
  color: #888;
  border-color: #888;
}

.login-password-label {
  margin: 0px auto 10px auto;
}

.login-status-text {
  margin: 0px auto 30px auto;
}
